<html>
  <head>
    <title> Pan Card Checker </title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/gasparesganga-jquery-loading-overlay@2.1.7/dist/loadingoverlay.min.js"></script>
  </head>
  <body>
    <center>
      <h1 style="padding-right: 7%;"> Pan Card Checker </h1>
      <form action="/get-pan-card-number" method="POST" enctype="multipart/form-data" id="panCardValidationForm">
        <div style="padding-right:10%;">
          <label for="fileUpload"> Upload The Image : </label>
          <input type="file"  accept="image/*" name="fileUpload" id="file" oninput="loadFile(event)" required><br><br>
        </div>
        <div style="padding-right:13%;">
          <p id="uploadedImage" style="display: none;"> Uploaded Image: <img id="output" width="200" /></p>
        </div>
        <div style="padding-right:17%;">
          <p id="message" style="display: none;"></p>
        </div>
        <div style="padding-right: 20%;">
          <input type="submit" value="Submit">        
        </div>
      </form>
    </center>
    <script src="js/checker.js"></script>
</body>
</html>